  :root {
  --hourDiffHeight: 20vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html, body {
  font-size: 3vh;
  margin: 0;
  padding: 0;
}

#overtime {
  width: 100vw;
  height: var(--hourDiffHeight);
  /* border: 3px solid red; */
  font-size: 2rem;
  line-height: var(--hourDiffHeight);
}

.entryForm {
  width: 100vw;
  height: var(--hourDiffHeight);
  /* border: 3px solid blue; */
  font-size: 1.5rem;
}

#hoursEntry, #holidaysEntry, #weeklyHoursEntry, #weeklyHoursBackup {
  display: block;
  transition: height .5s;
  width: 100wv;
  height: 0;
  /* border: 3px solid green; */
  font-size: 1.5rem;
  overflow-y: hidden;
}

#hoursEntry input, #holidaysEntry input, #weeklyHoursEntry input, #weeklyHoursBackup input {
  display: block;
  font-size: 1rem;
  margin: auto;
  height: var(--hourDiffHeight);
  /* border: 2px dashed black; */
  background-color: white;
}

#hoursEntry input[type='date'], #holidaysEntry input[type='date'], #weeklyHoursEntry input[type='date'] {
  width: auto;
}

#hoursEntry input[type='text'], #holidaysEntry input[type='text'], #weeklyHoursEntry input[type='text'] {
  width: 75%;
}

#output {
  padding-left: .5rem;
  text-align: left;
  width: 50vw;
  height: calc(40 * 0.6rem);
  font-size: .6rem;
}

#notice {
  text-align: center;
  width: 100vw;
  height: 2rem;
  font-size: 1.2rem;
  color: green;
}

#loadingIndicatorOverlay {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 2;
}

#loadingIndicatorOverlay #loadingIndicator {
  display: block;
  position: fixed;
  left: calc(50vw - (10vw/2));
  top: calc(50vh - (10vw/2));
  width: 10vw;
  height: 10vw;
  /* background-color: #4d4d4d; */
  border-radius: 50%;
}

#loadingIndicatorOverlay #loadingIndicator span {
  display: block;
  position: absolute;
  top: calc(50% - (20%/2));
  width: 100%;
  height: 20%;
  text-align: center;
  margin: auto;
}

#loadingIndicatorOverlay #loadingIndicator .dot {
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;
  top: calc(50% - (10px/2));
}

.dot div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: aqua;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
}

#dot0 {
  animation: .9s linear 0s infinite loading;
}

#dot1 {
  animation: .9s linear .3s infinite loading;
}

#dot2 {
  animation: .9s linear .6s infinite loading;
}